h1 {
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 5px solid rgb(200, 176, 144);
    background-color: rgb(209, 187, 159);
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.tile {
    height: 90px;
    width: 90px;
    border: 5px solid rgb(200, 176, 144);
    font-size: 50px;
    text-align: center;
}